@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
*{
    font-family: 'Kanit', sans-serif;
    color: rgb(82, 82, 82);
}
h1{
    color: #333;
}

body{
    background-color: rgb(3, 32, 49);
}
main{
    width: 100vw;
    height: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    vertical-align: top;
    margin: 0 auto;
    padding-top: 50px;
}
aside{
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    align-items: center;
    width: 250px;
}
.conteudo{
    width: 750px;
    box-sizing: content-box;
}
.caixa{
    background-color: #FFF;
    border: #CCC;
    border-radius: 3px;
}
.minha-foto{
    margin:0;
    padding:0;
    display: block;
    background-image: url(https://media.licdn.com/dms/image/C4D03AQFW0zJ3UgpmYA/profile-displayphoto-shrink_800_800/0/1629293875428?e=2147483647&v=beta&t=wWbw0LEieFBwOd4iKmBQrWdtTZlrYKhOmT4itZYP-AE);
    background-size: cover;
    width: 250px;
    height: 250px;
}
aside article,p{
    padding: 5px;
    font-size: 18px;
    text-align: center;
}
aside article .titulo{
    display: block;
    font-weight: bold;
    border-bottom: #07B solid 4px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}
aside article span{
    background-color: #07B;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    color: #FFF;
}
aside article span:hover{
    background-color: #FC0;
    color: #333;
    transition: all 300ms linear;
    cursor: crosshair;
}
header{
    line-height: 0.5;
    padding: 30px !important;
}
#box{
    border-left:4px solid #07B ;
    padding: 15px;
    margin: 5px;
}
a{text-decoration: none;}
.buttom{
    padding: 10px;
    background-color: #07B;
    color: #FFF;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;

}
.buttom:hover{
    opacity: 0.9;
}
.ocultar{
    display: none;
}
#cont-stack{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#stack{
    padding: 5px;
    margin: 5px;
    text-align: center;
    border: 1px solid #333;
}
#stack i{
    font-size:xx-large
}
i{margin: 8px;}
